    // xs (extra small) screens: widths up to 480px 
    // sm (small) screens: widths between 481px and 767px 
    // md (medium) screens: widths between 768px and 991px 
    // lg (large) screens: widths between 992px and 1199px 
    // xl (extra large) screens: widths of 1200px or greater

@media (min-width: 320px) and (max-width: 480px) {

.App-wrapper {
    width: 100%;
}    
.hamburger {
        position: relative;
        .material-symbols-outlined{
            position: absolute;
            display: inline-block;
            top: 0px;
        }
        .menu {
            position: absolute;
            // display: inline-block;
            top: 0px;

        }
}

.navContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    .navBar {
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: white;
        top: -25px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
        }
    .navShow {
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: white;
        top: 0px;
        transform: translateX(-3px);
        transition: transform 0.5s ease-in-out;
    }

}    
    
.menu {
    display: none;
}

.storyBox {
    flex-direction: column;
    width: 95%;
    .department {
        margin: 10px;
    }
    .imageContainer {
        width: 300px;
        a {
            img {
                width: 100%;
            }
        }
    }
    .storyText {
        .title {
            h1 {
                margin: 2px auto;
                text-align: center;
            }
            .byLine {
                font-size: 0.6rem;
                line-height: 0.6rem;
            }

        }
    }
}

} 
// --- end of 320px -----

@media (min-width: 481px) and (max-width: 767px) {
.App-wrapper {
        width: 100%;
    }

    .hamburger {
        // position: relative;
        .material-symbols-outlined {
            // position: absolute;
            display: inline-block;
            top: 10px;
            left: 10px;
        }

        // .menu {
        //     position: absolute;
        //     top: 0px;
        // }
    }

    .navContainer {
        display: flex;
        flex-direction: column;
        position: relative;
        .headerTitle {
            text-align: center;
        }

        .navBar {
            flex-direction: column;
            position: absolute;
            width: 30%;
            background-color: white;
            top: -25px;
            transform: translateX(-325px);
            transition: transform 0.5s ease-in-out;
            li {
                a {
                    font-size: 1rem;
                }
            }
        }

        .navShow {
            // flex-direction: column;
            flex-wrap: wrap;
            // position: absolute;
            width: 100%;
            background-color: white;
            top: 0px;
            transform: translateX(-3px);
            transition: transform 0.5s ease-in-out;
            height: 35vh;
        }

    }

    .menu {
        display: none;
    }

    .storyComponent {
        // flex-wrap: wrap;
        flex-direction: column;
    }

    .storyBox {
        flex-direction: column;
        width: 90%;
        // margin: 5px;
        // height: 530px;
        .department {
            margin: 5px;
        }
        .imageContainer {
            width: 95%;

            a {
                img {
                    width: 100%;
                }
            }
        }

        .storyText {
            .title {
                h3 {
                    margin: 2px auto;
                }

                .byLine {
                    font-size: 0.6rem;
                    line-height: 0.6rem;
                }

            }
        }
    }

} 
// ---------end of 481 to 767 ---------

@media (min-width: 768px) and (max-width: 991px)  {
// .App-wrapper {
//     width: 100%;
// }

.hamburger {
    // position: relative;

    .material-symbols-outlined {
        // position: absolute;
        display: inline-block;
        top: 10px;
        left: 10px;
    }

    // .menu {
    //     position: absolute;
    //     top: 0px;
    // }
}

.navContainer {
    display: flex;
    flex-direction: column;
    position: relative;

    .headerTitle {
        text-align: center;
    }

    .navBar {
        flex-direction: column;
        position: absolute;
        // width: 30%;
        background-color: white;
        top: -25px;
        transform: translateY(-720px);
        transition: transform 0.5s ease-in-out;

        li {
            a {
                font-size: 1rem;
            }
        }
    }

    .navShow {
        // flex-direction: column;
        flex-wrap: wrap;
        // position: absolute;
        width: 100%;
        // background-color: white;
        top: 0px;
        transform: translateY(10px);
        transition: transform 0.5s ease-in-out;
        height: 35vh;
    }

}

.menu {
    display: none;
}

.storyComponent {
    flex-wrap: wrap;
    flex-direction: row;
}

.storyBox {
    flex-direction: column;
    width: 45%;
    margin: 10px;
    height: 655px;

    .imageContainer {
        width: 95%;

        a {
            img {
                width: 100%;
            }
        }
    }

    .storyText {
        .title {
            h3 {
                margin: 2px auto;
            }

            .byLine {
                font-size: 0.6rem;
                line-height: 0.6rem;
            }

            

        }
    }
        .department {
            // display: none;
            // justify-content: flex-end;
            margin: 10px;
        }
}

}
//-----end 768 to 991 -----------

@media (min-width: 992px) and (max-width: 1199px) {
.hamburger {
        // position: relative;

        .material-symbols-outlined {
            // position: absolute;
            display: inline-block;
            top: 10px;
            left: -30px;
        }

        // .menu {
        //     position: absolute;
        //     top: 0px;
        // }
    }

    .navContainer {
        display: flex;
        flex-direction: column;
        position: relative;

        .headerTitle {
            text-align: center;
        }

        .navBar {
            flex-direction: column;
            position: absolute;
            width: 100%;
            background-color: white;
            top: -25px;
            transform: translateY(-720px);
            transition: transform 0.5s ease-in-out;

            li {
                a {
                    font-size: 1rem;
                }
            }
        }

        .navShow {
            flex-direction: column;
            flex-wrap: wrap;
            position: absolute;
            width: 100%;
            // background-color: white;
            top: 0px;
            transform: translateY(-3px);
            transition: transform 0.5s ease-in-out;
            height: 35vh;
        }

    }

    .menu {
        display: none;
    }

    .storyComponent {
        flex-direction: row;
        flex-wrap: wrap;
        .storyBox {
            // flex-direction: column;
            width: 45%;
            margin: 5px;
            height: 225px;
            .department {
                display: none;
            }
            .imageContainer {
                width: 90%;
                margin-top: 15px;
                align-self: flex-start;
                a {
                    img {
                        width: 100%;
                    }
                }
                .photoCredit {
                    display: none;
                }
            }
            .storyText {
                .title {
                    h3 {
                        margin: 2px auto;
                    }
                    .byLine {
                        display: none;
                    }
                    .abstract {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }

}

@media (min-width: 1200px) {

    .menu {
        display: none;
    }

    .storyComponent {
        flex-direction: row;
        flex-wrap: wrap;

        .storyBox {
            // flex-direction: column;
            width: 45%;
            margin: 5px;
            height: 225px;

            .department {
                display: none;
            }

            .imageContainer {
                width: 90%;
                margin-top: 15px;
                align-self: flex-start;

                a {
                    img {
                        width: 100%;
                    }
                }

                .photoCredit {
                    display: none;
                }
            }

            .storyText {
                .title {
                    h3 {
                        margin: 2px auto;
                    }

                    .byLine {
                        display: none;
                    }

                    .abstract {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}