
@media (max-width: 320px) {

.App-wrapper {
    width: 100%;
}    
.hamburger {
        position: relative;
        background-color: lightgreen;
        .material-symbols-outlined,
        .menu {
            position: absolute;
            display: inline-block;
            top: 0px;

        }
}

.navContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    .navBar {
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: white;
        top: -25px;
        transform: translateX(-325px);
        transition: transform 0.5s ease-in-out;
        }
    .navShow {
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: white;
        top: 0px;
        transform: translateX(-3px);
        transition: transform 0.5s ease-in-out;
    }

}    
    
.menu {
    display: none;
}

.storyBox {
    flex-direction: column;
    width: 95%;
    .imageContainer {
        width: 300px;
        a {
            img {
                width: 100%;
            }
        }
    }
    .storyText {
        .title {
            h3 {
                margin: 2px auto;
            }
            .byLine {
                font-size: 0.6rem;
                line-height: 0.6rem;
            }

        }
    }
}


}