.headerTitle {
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    margin-top: 2%;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px double black;
    border-width: 5px;
    padding: 0;
    margin: 3px;
    // border: 1px solid red;
    li {
        list-style: none;
        margin: 5px auto;
        a {
            text-decoration: none;
            text-align: center;
            color: black;
            margin: 3px;
            padding: 2px;
            font-size: 0.5rem;
            font-weight: bold;
            
        }
       
    }
}

.hamburger {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: lightcoral;

    .material-symbols-outlined,
    .menu {
        position: absolute;
        display: none;
        top: -30px;
        // color: white;

    }

}