
.storyComponent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.storyBox {
    display: flex;
    width: 80%;
    margin: 10px 0 0 0;
    border: 1px solid black;
    box-shadow: 5px 5px 3px grey;
    .imageContainer {
        align-self: center;
        width: 250px;
  
        margin: 10px;
        a {
            img {
                width: 250px;
            }
        }
        .photoCredit {
            font-size: .5rem;
        }
    }
    .storyText {
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        .title {
            padding: 10px;
            // border: 1px solid black;
            h4 {
                margin: 0;
                text-align: end;
            }
            .byLine,
            .date {
                font-size: .7rem;
                line-height: .2rem;

            }
            a {
                text-decoration: none;
                    color: black;
            }
            
        }
      
    }
}