
.storyComponent {
    display: flex;
    justify-content: center;
}
.storyBox {
    display: flex;
    width: 80%;
    border: 1px solid black;
    .imageContainer {
        align-self: center;
        // width: 95%;
        padding: 10px;
        img {
            width: 100%;
        }
    }
    .storyText {
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        .title {
            padding: 10px;
            // border: 1px solid black;
            a {
                text-decoration: none;
                    color: black;
            }
            
        }
        .description {
            padding: 10px;
            // border: 1px solid black;
        }
    }
}